<div class="fixed_header"></div>
<header>
  <div class="header">
    <div>
      <img class="logo" src="assets/images/shared/logo6.png" alt="" />
    </div>
    <nav>
      <!-- <div routerLink="/home" [routerLinkActive]="'is-active'">Home</div>
      <div routerLink="/about" [routerLinkActive]="'is-active'">About Us</div>
      <div routerLink="/treatments" [routerLinkActive]="'is-active'">
        Treatments
      </div>
      <div routerLink="/decleor" [routerLinkActive]="'is-active'">DECLÉOR</div>
      <div class="contact" [routerLinkActive]="'is-active'">Contact</div> -->
      <a routerLink="/home" [routerLinkActive]="['is-active']"
        ><div>Home</div></a
      >
      <a routerLink="/about" [routerLinkActive]="['is-active']"
        ><div>About Us</div></a
      >
      <a routerLink="/treatments" [routerLinkActive]="['is-active']">
        <div>Treatments</div></a
      >
      <a routerLink="/decleor" [routerLinkActive]="['is-active']"
        ><div>DECLÉOR</div></a
      >
      <a
        routerLink="/contact"
        [routerLinkActive]="['is-active']"
        class="contact"
        ><div>Contact</div></a
      >
    </nav>
    <div class="burger">
      <button onclick="dropMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </button>
    </div>
  </div>
</header>
