<div class="fixed_header"></div>
<header>
  <div class="header">
    <div>
      <img class="logo" src="assets/images/shared/logo6.png" alt="" />
    </div>
    <nav>
      <a routerLink="/home" [routerLinkActive]="['is-active']">Home</a>
      <a routerLink="/about" [routerLinkActive]="['is-active']">About Us</a>
      <a routerLink="/treatments" [routerLinkActive]="['is-active']">
        Treatments</a
      >
      <a routerLink="/decleor" [routerLinkActive]="['is-active']">DECLÉOR</a>
      <a href="/contact" class="contact">Contact</a>
    </nav>
    <div class="burger">
      <button onclick="dropMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </button>
    </div>
  </div>
</header>
