.header {
  position: fixed;
  z-index: 10;
  top: 0;
  border-top: 12px solid #ffcd36;
  border-bottom: 1.5px solid #000;
  display: flex;
  width: 100%;
  height: 105px;
  max-height: 120px;
  justify-content: space-around;
  align-items: center;
  background-color: #585657;
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.logo {
  width: 85%;
  height: auto;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  a {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    &:hover {
      cursor: pointer;
      color: #ffcd36;
      border-bottom: 4px solid #ffcd36;
      transition: all ease-in-out 250ms;
      margin-bottom: -4px;
    }
    &.is-active {
      background-color: #585657;
    }
  }
}

.contact {
  border-radius: 20%/50%;
  height: 2.2em !important;
  border: 3px solid #fff !important;
  &:hover {
    background-color: #585657 !important;
    border: 3px solid #ffcd36 !important;
    transition: all ease-in-out 250ms;
    margin-bottom: 0px !important;
  }
  &.is-active {
    color: #ffcd36;
    border: 3px solid #ffcd36 !important;
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.burger {
  display: none;
  cursor: pointer;
  padding: 7px 4px;
  button {
    background: inherit;
    border: none;
  }
  div {
    width: 37px;
    height: 4px;
    background-color: #fff;
    margin: 6px;
    display: flex;
    border-radius: 15%;
  }
}

.burger.active .line1 {
  background-color: #fff;
  transform: rotate(-45deg) translate(-7px, 5px);
  width: 35px !important;
  height: 3px;
  transition: 0.5s ease-in-out;
}
.burger.active .line2 {
  display: none;
}
.burger.active .line3 {
  background-color: #fff;
  transform: rotate(45deg) translate(-1px, 0px);
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 940px) {
  .header {
    justify-content: space-between;
    padding: 0 10px;
  }
  nav {
    display: none;
  }
  .burger {
    display: block;
  }
}
