<div>
  <div class="banner products"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1>Our Products</h1>
    <div>
      Since 1974 we have listened to our experts when designing and creating our
      skincare. Decléor sits on a rich professional heritage focused on the
      power of using facial and body treatments to maximise your skincare.
    </div>
    <div>
      Our therapists and education team are at the heart of our mission to
      provide you with natural but powerful skincare along with our professional
      expertise to ensure you can truly achieve your ideal skin goals.
    </div>
  </div>

  <div class="decleor-block">
    <div class="decleor-block-info">
      <h1>Decleor</h1>
      <h3>Our History</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
        officiis quisquam cumque dolorem, quos vitae quis expedita, laudantium
        commodi aliquam eos cum ad tempore, autem iure atque doloremque sit
        quas!
      </p>
      <button class="btn">Read more</button>
    </div>
    <div class="decleor-block-img">
      <img src="../../../assets/images/products/decleor/product4.jpg" alt="" />
      <img src="../../../assets/images/products/decleor/product3.jpg" alt="" />
    </div>
  </div>

  <h2 class="sub-title">Our favourites</h2>

  <div class="fav-img">
    <div>
      <img src="../../../assets/images/products/decleor/sProduct.jpg" alt="" />
      <p>text text text text text text text text text</p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body1.jpg" alt="" />
      <p>text text text text text text text text text</p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body2.jpg" alt="" />
      <p>text text text text text text text text text</p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body3.jpg" alt="" />

      <p>text text text text text text text text text</p>
    </div>
    <div class="hide-img">
      <img src="../../../assets/images/products/decleor/hand.jpg" alt="" />
      <p>text text text text text text text text text</p>
    </div>
  </div>
</div>

<div class="repeat"></div>

<div class="max-width">
  <!-- <div class="flex flex_col text">
    <div>
      Decléór has been trusted by beauty professionals for over 45 years. As
      leaders in Aromatherapy Skincare, we are renowned for our expertise in the
      science of Essential and Botanical Oils to transform your skin for visible
      results.
    </div>
    <div>
      We have remained true to our Professional Parisian heritage, bringing it
      to life with our innovative treatments and natural skincare products.
      Decléor's philosophy, “Skin - Body - Mind” represents a holistic and
      complete approach to beauty where everything is connected and interwoven,
      for lasting efficacy.
    </div>
  </div> -->

  <div class="decleor-product">
    <div class="decleor-block-img">
      <img
        src="../../../assets/images/products/million/Million-Dollar-Facial-Miracle-Mask.jpg"
        alt=""
      />
    </div>
    <div class="decleor-block-info">
      <h1>Million Dollar Facial</h1>
      <h3>Our History</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
        officiis quisquam cumque dolorem, quos vitae quis expedita, laudantium
        commodi aliquam eos cum ad tempore, autem iure atque doloremque sit
        quas!
      </p>
      <button class="btn">Read more</button>
    </div>
  </div>
</div>
