.products {
  background-image: url("../../../assets/images/banners/banner4.jpg");
}

.decleor-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  margin-bottom: 20px;
  .decleor-block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    button {
      margin-top: 20px;
    }
  }
  .decleor-block-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img:nth-child(1) {
      margin-right: -40px;
      height: 300px;
      position: relative;
      max-width: 300px;
    }
    img:nth-child(2) {
      height: 400px;
      max-width: 400px;
    }
  }
}

.fav-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 60px 0;
  padding: 0 10px;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      padding: 20px;
    }
    img {
      width: 200px;
      height: 200px;
      display: block;
      transition: all 0.2s ease-in-out;
      box-shadow: 0px 25px 20px -20px rgb(0 0 0 / 10%);
      &:hover {
        transform: translateY(-25px);
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.decleor-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  button {
    margin-top: 20px;
  }
}

.decleor-block-img {
  img {
    width: 400px;
    height: 400px;
    display: block;
  }
}

.decleor-product {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // box-shadow: 0px 3px 25px #00000029;
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  border-radius: 5px;
  margin: 60px 0;
  //   transform: translateX(-100%);
  //   opacity: 0;
  //   visibility: hidden;

  &.open {
    transition: transform 0.8s linear, opacity 0.8s linear;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  &.close {
    transition: transform 0.8s linear, opacity 0.8s linear;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.repeat {
  background-image: url("../../../assets/images/products/million/millionBanner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

@media screen and (max-width: 1020px) {
  .fav-img {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .decleor-block {
    grid-template-columns: 1fr;
    box-shadow: none;
  }

  .favourtes {
    .fav-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      div {
        &.hide-img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 705px) {
  .decleor-block .decleor-block-img {
    flex-direction: column;
    .decleor-block-img img {
      width: auto;
    }
    img:nth-child(1) {
      margin-right: 0px;
      margin-bottom: -20px;
    }
    img:nth-child(2) {
      width: auto;
    }
  }
}

@media screen and (max-width: 645px) {
  .decleor-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 626px) {
  .fav-img {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 420px) {
  .fav-img {
    grid-template-columns: 1fr;
  }
}
