<div>
  <div class="banner products"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Our Products</h1>
    <div>
      Since 1974 we have listened to our experts when designing and creating our
      skincare. Decléor sits on a rich professional heritage focused on the
      power of using facial and body treatments to maximise your skincare.
    </div>
    <div>
      Our therapists and education team are at the heart of our mission to
      provide you with natural but powerful skincare along with our professional
      expertise to ensure you can truly achieve your ideal skin goals.
    </div>
  </div>

  <div class="decleor-block">
    <div class="decleor-block-info">
      <img
        src="../../../assets/images/products/decleor/Decleor_Logo.png"
        alt=""
        srcset=""
      />
      <p>
        Since 1974 we have listened to our experts when designing and creating
        our skincare. Decléor sits on a rich professional heritage focused on
        the power of using facial and body treatments to maximise your skincare.
      </p>
      <p>
        Our therapists and education team are at the heart of our mission to
        provide you with natural but powerful skincare along with our
        professional expertise to ensure you can truly achieve your ideal skin
        goals.
      </p>
      <button class="btn">Book Now</button>
    </div>
    <div class="decleor-block-img">
      <img
        class="animation fade-right"
        src="../../../assets/images/products/decleor/product4.jpg"
        alt="decleor product"
      />
      <img
        class="animation fade-left"
        src="../../../assets/images/products/decleor/product3.jpg"
        alt="decleor product"
      />
    </div>
  </div>

  <div class="max-width">
    <div class="decleor-product animation fadeIn">
      <div class="decleor-block-img">
        <img
          src="../../../assets/images/products/million/less-stress.jpg"
          alt="million dollar product"
        />
      </div>
      <div class="decleor-block-info">
        <img
          src="../../../assets/images/products/million/million-dollar-facial-logo.png"
          alt="million-dollar-logo"
        />
        <p>
          A luxurious facial where science meets indulgence. Working your skin
          from the outside in, this treatment has been designed to deeply
          exfoliate dead skin cells and remove non terminal hair, polish the
          skin, flush toxins, increase and stimulate our natural collagen and
          cell turnover. This method will heavily increase the absorption of any
          active ingredients by 80% as opposed to 8%, this is why we use a
          Million Dollar mask for maximum results.
        </p>
        <p>
          Our Million dollar facial is a 10 step unique protocol which includes
          dermaplanning, microneedling and lymphatic drainage massage using our
          specifically created and clinically backed products.
        </p>
        <p>Ready for the Million Dollar Facial?!</p>
        <button class="btn">Book Now</button>
      </div>
    </div>
  </div>

  <div class="decleor-block">
    <div class="decleor-block-info">
      <h2>Exfoliating Scrub</h2>
      <p>
        A luxury anti ageing wash to exfoliate and help improve the complexion.
        Containing Glycolic and Quartz, to stimulate, condition and polish skin
        to perfection. A twice a week routine that will leave skin looking
        younger, smoother, fresher with a radiant glow.
      </p>
    </div>
    <div class="decleor-block-img">
      <img
        class="animation fade-right"
        src="../../../assets/images/products/million/exfoliating-scrub.jpg"
        alt="decleor product"
      />
      <img
        class="animation fade-left"
        src="../../../assets/images/products/million/exfoliating-scrub-text.jpg"
        alt="decleor product"
      />
    </div>
  </div>

  <div class="max-width">
    <div class="decleor-product animation fadeIn">
      <div class="decleor-block-img">
        <img
          src="../../../assets/images/products/million/derma-cleanse.jpg"
          alt="million dollar product"
        />
      </div>
      <div class="decleor-block-info">
        <h2>Derma Cleanse</h2>
        <div>
          <p>Million Dollar Medi+ Dermacleanse daily cleanser</p>
          <p>
            A deep cleansing product contains natural papaya fruit acid to
            hydrate and gently exfoliate. Dermacleanse will also calm irritated
            skin to help restore a healthy glowing complexion as well as remove
            excess oil and damaging pollution so skin feels smooth and squeaky
            clean.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="decleor-block">
    <div class="decleor-block-info">
      <h2>Shield 50</h2>
      <p>
        A highly effective photo-stable broad spectrum, lightweight physical
        sunscreen, containing a combination of clinically proven filters to
        protect the skin against the harmful effects of UV rays. It is water
        resistance and contains clinically proven AHA's, citric and lactic acid
        to gently increase cell turnover. It is light and easily absorbed with a
        natural tint to give an even appearance whilst having a hydrating effect
        on the skin and protecting the DNA.
      </p>
    </div>
    <div class="decleor-block-img">
      <img
        class="animation fade-right"
        src="../../../assets/images/products/million/shield-50.jpg"
        alt="decleor product"
      />
      <img
        class="animation fade-left"
        src="../../../assets/images/products/million/shield-50-text.jpg"
        alt="decleor product"
      />
    </div>
  </div>
</div>
