.test {
  position: absolute;
  top: 200px;
  right: 282px;
}

.test1 {
  top: 200px;
  right: 200px;
}

.test2 {
  top: 100px;
  right: 340px;
}

.test3 {
  top: 200px;
  left: 282px;
}

section {
  height: 75vh;
}

section.two {
  height: 150vh;
  background: #f5f5f5;
  padding-top: 100px;
}
