.products {
  background-image: url("../../../assets/images/banners/banner1.jpg");
}

.decleor-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  margin: 60px 0;
  .decleor-block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    p {
      font-size: 1rem;
    }
    button {
      margin-top: 20px;
    }
  }
  .decleor-block-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img:nth-child(1) {
      margin-right: -40px;
      height: 300px;
      max-width: 300px;
    }
    img:nth-child(2) {
      height: 400px;
      max-width: 400px;
      position: relative;
      z-index: 1;
    }
  }
}

.decleor-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 40px;
  img {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.7rem;
  }
  p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  button {
    margin-top: 20px;
  }
}

.decleor-block-img {
  display: flex;
  img {
    display: block;
  }
}

.decleor-product {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // box-shadow: 0px 3px 25px #00000029;
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  border-radius: 5px;
  margin: 100px 0;
}

// animation
.fade-right {
  transform: translate(-35px, 0);
  transition: all 1.5s;
  position: relative;
  z-index: 1;
  &.on {
    transform: translate(0, 0);
  }
}
.fade-left {
  transform: translate(35px, 0);
  transition: all 1.5s;
  &.on {
    transform: translate(0, 0);
  }
}
.fadeIn {
  opacity: 0;
  transform: translate(0, 40px);
  transition: all 0.7s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1020px) {
  .fav-img {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .decleor-block {
    grid-template-columns: 1fr;
    box-shadow: none;
  }

  .decleor-block-info {
    padding: 0 20px 20px !important;
    h1 {
      margin-bottom: 10px;
    }
  }

  .decleor-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 705px) {
  .decleor-block .decleor-block-img {
    flex-direction: column;
    .decleor-block-img img {
      width: auto;
    }
    img:nth-child(1) {
      margin-right: 0px;
      margin-bottom: -20px;
    }
    img:nth-child(2) {
      width: auto;
    }
  }
}

@media screen and (max-width: 626px) {
  .fav-img {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 256) {
  .decleor-block-info h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .decleor-product {
    margin: 60px 0;
  }

  .decleor-block {
    .decleor-block-img {
      img:nth-child(1) {
        height: 200px;
        max-width: 200px;
      }
      img:nth-child(2) {
        height: 300px;
        max-width: 300px;
      }
    }
  }

  .decleor-block-img img {
    width: 300px;
    height: 300px;
  }
}
