<div>
  <div class="banner products"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Our Products</h1>
    <div>
      Since 1974 we have listened to our experts when designing and creating our
      skincare. Decléor sits on a rich professional heritage focused on the
      power of using facial and body treatments to maximise your skincare.
    </div>
    <div>
      Our therapists and education team are at the heart of our mission to
      provide you with natural but powerful skincare along with our professional
      expertise to ensure you can truly achieve your ideal skin goals.
    </div>
  </div>

  <div class="decleor-block">
    <div class="decleor-block-info">
      <h1>Decleor</h1>
      <p>
        Since 1974 we have listened to our experts when designing and creating
        our skincare. Decléor sits on a rich professional heritage focused on
        the power of using facial and body treatments to maximise your skincare.
      </p>
      <p>
        Our therapists and education team are at the heart of our mission to
        provide you with natural but powerful skincare along with our
        professional expertise to ensure you can truly achieve your ideal skin
        goals.
      </p>
    </div>
    <div class="decleor-block-img">
      <img
        class="animation fade-right"
        src="../../../assets/images/products/decleor/product4.jpg"
        alt=""
      />
      <img
        class="animation fade-left"
        src="../../../assets/images/products/decleor/product3.jpg"
        alt=""
      />
    </div>
  </div>

  <h2 class="sub-title">Our Favourites</h2>

  <div class="fav-img">
    <div>
      <img src="../../../assets/images/products/decleor/sProduct.jpg" alt="" />
      <h2>BODY MOISTURISER FOR MATURE SKIN</h2>
      <p>
        A melting body cream rich in oils to improve firmness and skin quality,
        while stimulating the mind
      </p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body1.jpg" alt="" />
      <h2>BODY WASH FOR DEHYDRATED SKIN</h2>
      <p>98% natural origin body wash with Neroli Essential Oil</p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body2.jpg" alt="" />
      <h2>BODY MILK FOR DEHYDRATED SKIN</h2>
      <p>
        Neroli Bigarade Comforting Body Milk is a 99% natural-origin body
        moisturiser enriched with Neroli Essential Oil, Vitamin E & Macadamia
        Botanical Oil to hydrate your skin for 24 hours, while leaving it
        smooth, luminous and nourished.
      </p>
    </div>
    <div>
      <img src="../../../assets/images/products/decleor/body3.jpg" alt="" />
      <h2>SELF TAN FOR DEHYDRATED SKIN</h2>
      <p>
        Light, melting texture is easily absorbed into the skin and offers a
        beautifully natural sun-kissed look from the first application.
      </p>
    </div>
    <div class="hide-img">
      <img src="../../../assets/images/products/decleor/hand.jpg" alt="" />
      <h2>ROSEMARY OFFICINALIS CLEANSING GEL</h2>
      <p>
        Rosemary Black Clay Cleansing Gel, is a 95% natural cleansing gel
        enriched with Rosemary Essential Oil & Black Clay to clean and clear
        blemish prone skin, leaving the skin feeling purified and mattified.
      </p>
    </div>
  </div>
</div>

<div class="repeat"></div>

<div class="max-width">
  <div class="decleor-product">
    <div class="decleor-block-img">
      <img
        src="../../../assets/images/products/million/Million-Dollar-Facial-Miracle-Mask.jpg"
        alt=""
        class="animation fade-right"
      />
    </div>
    <div class="decleor-block-info">
      <h1>Million Dollar Facial</h1>
      <p>
        A luxurious facial where science meets indulgence. Working your skin
        from the outside in, this treatment has been designed to deeply
        exfoliate dead skin cells and remove non terminal hair, polish the skin,
        flush toxins, increase and stimulate our natural collagen and cell
        turnover. This method will heavily increase the absorption of any active
        ingredients by 80% as opposed to 8%, this is why we use a Million Dollar
        mask for maximum results.
      </p>
      <p>
        Our Million dollar facial is a 10 step unique protocol which includes
        dermaplanning, microneedling and lymphatic drainage massage using our
        specifically created and clinically backed products.
      </p>
      <p>Ready for the Million Dollar Facial?!</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
</div>
