.main {
  height: 25vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 46px;
  color: #585657;
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.carousel-item {
  height: 200px;
  width: 80px;
  background-color: #fff;
  &.green {
    background-color: green;
  }
  &.blue {
    background-color: blue;
  }
  &.red {
    background-color: red;
  }
  &.yellow {
    background-color: yellow;
  }
}

.home-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
  background-color: #fff;
  h2 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
  button {
    margin-bottom: 15px;
    padding: 5px 12px;
  }
}

.carousel-wrapper {
  max-width: 600px;
  padding: 25px 30px 10px;
  background-color: #fff;
}

.images {
  background-color: #fff;
}

.review-wrapper {
  .review-flex {
    display: flex;
  }
  h2 {
    margin-bottom: 20px;
  }
  .review {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
    p {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 940px) {
  .main {
    height: 30vh;
  }
}

@media only screen and (max-width: 850px) {
  .home-wrapper {
    flex-direction: column;
  }
  .carousel-wrapper {
    max-width: 100%;
  }
}
