<div class="containImg">
  <img src="../../../assets/images/banners/banner4.jpg" alt="" />
</div>

<div class="flex flex_col text">
  <div>
    Since 1974 we have listened to our experts when designing and creating our
    skincare. Decléor sits on a rich professional heritage focused on the power
    of using facial and body treatments to maximise your skincare.
  </div>
  <div>
    This has influenced and shaped our ethos and products up until today and
    will continue to be an irreplaceable and unique piece of Decléor.
  </div>
  <div>
    Our therapists and education team are at the heart of our mission to provide
    you with natural but powerful skincare along with our professional expertise
    to ensure you can truly achieve your ideal skin goals.
  </div>
</div>

<div class="max-width home-wrapper">
  <div class="home-block">
    <h2>Trip Planner</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum alias
      repellat eos consequuntur vel cumque reiciendis similique eaque quam
      labore, corporis laboriosam. Asperiores qui consequuntur illum, placeat
      officiis vel!
    </p>
    <button>Click</button>
  </div>
  <div class="carousel-wrapper">
    <ngx-glide
      type="carousel"
      [autoplay]="2000"
      [perView]="4"
      [showBullets]="false"
    >
      <div class="carousel-item green">0</div>
      <div class="carousel-item blue">1</div>
      <div class="carousel-item red">2</div>
      <div class="carousel-item yellow">2</div>
      <div class="carousel-item green">3</div>
      <div class="carousel-item blue">4</div>
      <div class="carousel-item red">5</div>
      <div class="carousel-item yellow">5</div>
    </ngx-glide>
  </div>
</div>

<div class="imgContainer">
  <img src="../../../assets/images/banners/banner7.jpg" alt="" />
</div>

<div class="max-width home-wrapper">
  <div class="images">
    <h2>Gallary</h2>
  </div>
</div>

<div class="max-width home-wrapper">
  <div class="review-wrapper">
    <h2>Customer Reviews</h2>
    <div class="review-flex">
      <div class="review m-r">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          corrupti, voluptates explicabo dolor possimus sit quod, totam quis
          assumenda tempora culpa recusandae, quam quas laborum molestias minima
          doloremque quo. Quasi?
        </p>
        <span>Saturday 16th april</span>
      </div>
      <div class="review m-r">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          corrupti, voluptates explicabo dolor possimus sit quod, totam quis
          assumenda tempora culpa recusandae, quam quas laborum molestias minima
          doloremque quo. Quasi?
        </p>
        <span>Saturday 16th april</span>
      </div>
      <div class="review">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          corrupti, voluptates explicabo dolor possimus sit quod, totam quis
          assumenda tempora culpa recusandae, quam quas laborum molestias minima
          doloremque quo. Quasi?
        </p>
        <span>Saturday 16th april</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="max-width">
  <ngx-glide
    type="carousel"
    [autoplay]="3000"
    [perView]="3"
    [showBullets]="false"
  >
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
  </ngx-glide>
</div> -->
