.main {
  height: 25vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 46px;
  color: #585657;
}

button {
  border: none;
}

.home-banner {
  background-color: #ede9e6;
  text-align: center;
  padding: 28px;
  margin-bottom: 60px;
  color: #79553d;
  display: flex;
  justify-content: space-evenly;

  .home-banner-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      margin-top: 5px;
    }
  }

  h2 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.8rem;
  }
  p {
    margin-top: 15px;
    font-size: 1rem;
  }
  .home {
    background-image: url("../../../assets/images/banners/room-space.png");
    background-size: contain;
    height: 230px;
  }
}

.carousel-bannner {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.carousel-item1 {
  background-image: url("../../../assets/images/banners/test5.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3.1rem;
    color: #333;
    border-bottom: 2px solid #ffcd36;
  }
}

.carousel-item2 {
  background-image: url("../../../assets/images/banners/banner7.jpg");
}

.carousel-item3 {
  background-image: url("../../../assets/images/products/million/millionBanner.jpg");
}

.carousel-item4 {
  background-image: url("../../../assets/images/banners/facial2.jpg");
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 90px;
  border-bottom-left-radius: 6px;
  padding: 30px;
  &.box-shadow {
    box-shadow: 0px 3px 30px #00000040;
  }
}

.carousel-item {
  height: 300px;
  width: 300px;
  background-color: #fff;
  img {
    width: 100%;
    display: block;
    height: 100%;
  }
}

.home-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  align-items: flex-start;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  .home-block-info {
    border-bottom-left-radius: 6px;
    span {
      color: #edb200;
    }
    div {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  .treatment-button {
    margin-bottom: 20px;
    p {
      display: flex;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 35px);
  transition: all 0.7s;
  &.on {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.home-block-video {
  position: relative;
  img {
    display: block;
    border-bottom-right-radius: 6px;
    width: 350px;
    .overlay {
      opacity: 0.1;
    }
  }
  button {
    display: block;
    cursor: pointer;
  }
}

.mat-dialog-container {
  padding: 0px;
}

.carousel-wrapper {
  max-width: 730px;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.4;
  width: 100%;
  background-color: #585657;
  transition: 0.5s ease;
  border-bottom-right-radius: 6px;
  div {
    position: absolute;
    top: 37%;
    left: 39%;
    font-size: 1.4rem;
    color: #eee;
    background: #2c2c2c;
    border-radius: 50%;
    padding: 8px 18px 8px 25px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.review-wrapper {
  margin: 30px 0 70px;
  .carousel-review {
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.15);
    padding: 18px;
    margin: 0px 15px 20px 5px !important;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.1s ease-in;
    top: 0;
    background: #f7f7f7;
    border: 8px;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
    p {
      white-space: normal;
      font-size: 1rem;
    }
    span {
      margin-top: 15px;
    }
    &:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
      top: -4px;
    }
  }
}

.tab-wrapper {
  max-width: 950px;
  margin: 0 auto;
}

@media only screen and (max-width: 1070px) {
  .home-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 940px) {
  .main {
    height: 30vh;
  }
}

@media only screen and (max-width: 850px) {
  .home-wrapper {
    flex-direction: column;
  }
  .carousel-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  .carousel-item1 h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 730px) {
  .review-wrapper .review-flex {
    display: flex;
    flex-direction: column;
  }

  .review-wrapper .review {
    margin: 0 0 25px 0;
  }
}

@media only screen and (max-width: 425px) {
  .carousel-item1 h1 {
    font-size: 1.6rem;
  }

  .home-banner .home-banner-inner {
    display: none;
  }
}
