<div>
  <ngx-glide
    type="carousel"
    [autoplay]="4000"
    [perView]="1"
    [showArrows]="false"
    [hoverpause]="false"
  >
    <div class="carousel-bannner">
      <div class="banner carousel-item1">
        <h1 class="animate__animated animate__fadeInUp">
          Welcome to Aurora Beauty
        </h1>
      </div>
    </div>
    <div>
      <div class="banner carousel-item2"></div>
    </div>
    <div class="carousel-bannner">
      <div class="banner carousel-item3"></div>
    </div>
    <div class="carousel-bannner">
      <div class="banner carousel-item4"></div>
    </div>
  </ngx-glide>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <div>
      Since 1974 we have listened to our experts when designing and creating our
      skincare. Decléor sits on a rich professional heritage focused on the
      power of using facial and body treatments to maximise your skincare.
    </div>
    <div>
      Our therapists and education team are at the heart of our mission to
      provide you with natural but powerful skincare along with our professional
      expertise to ensure you can truly achieve your ideal skin goals.
    </div>
  </div>

  <div class="home-wrapper box-shadow animation fadeIn">
    <div class="home-block">
      <div class="home-block-info">
        <h2>New! Wellness Pamper Package</h2>
        <div>
          Since 1974 we have listened to our experts when designing and creating
          our skincare. Decléor sits on a rich professional heritage focused on
          the power of using facial and body treatments to maximise your
          skincare.
        </div>
        <div>
          This has influenced and shaped our ethos and products up until today
          and will continue to be an irreplaceable and unique piece of Decléor.
        </div>
        <div>
          Watch a short video on tiktok to show the experience.&nbsp;
          <a
            href="https://www.tiktok.com/@melissabland28/video/7090609734591532294?is_copy_url=1&is_from_webapp=v1&lang=en"
            target="_blank"
          >
            <fa-icon
              class="icon"
              aria-label="Tiktok"
              [icon]="faTiktok"
            ></fa-icon>
          </a>
        </div>
      </div>
      <div class="treatment-button">
        <a class="btn" href="https://aurorabeautyclitheroe.book.app/book-now">
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
    <div class="home-block-video">
      <button (click)="openDialog()">
        <img
          src="../../../assets/images/treatments/massage/massage.jpg"
          alt="massage img"
        />
        <div class="overlay">
          <div>
            <fa-icon class="icon" [icon]="faPlay"></fa-icon>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="home-banner">
  <div class="home-banner-inner">
    <p>Full / part time options</p>
    <p>Set / flexible days</p>
    <p>Perfect for - Beauty Therapist</p>
    <p>Nail technicians</p>
    <p>Massage</p>
    <p>Massage Aesthetics</p>
    <p>Foot health</p>
    <p>Osteopath</p>
  </div>
  <div>
    <h2>Treatment room/nail desk available for rent</h2>
    <div class="banner home"></div>
    <p>Call: 07507393637</p>
  </div>
  <div class="home-banner-inner">
    <p>Client base not essential</p>
    <p>Competitive rates</p>
    <p>Be your own boss</p>
    <p>Friendly salon</p>
    <p>Free parking</p>
    <p>Electric couch</p>
    <p>Pedicure chair</p>
    <p>Tea/coffee facilities</p>
  </div>
</div>

<div class="tab-wrapper">
  <app-tabs></app-tabs>
</div>

<div class="max-width">
  <div class="review-wrapper">
    <div>
      <h2 class="sub-title">Customer Reviews</h2>
    </div>
    <ngx-glide
      type="carousel"
      [perView]="3"
      [autoplay]="3200"
      [showBullets]="false"
      [showArrows]="false"
      [hoverpause]="false"
      [breakpoints]="{ '510': { perView: 1 }, '768': { perView: 2 } }"
    >
      <div class="carousel-review">
        <h2>Naomi Annie Warren</h2>
        <p>
          I had a back, neck and head massage with Melissa and felt like I was
          floating afterwards! Absolutely amazing!!
        </p>
        <span>10 days ago</span>
      </div>
      <div class="carousel-review">
        <h2>Gail Kellington</h2>
        <p>
          Love going to Aurora Beauty. It's a gorgeous salon, treatments are 👌🏻
          Highly recommend going!
        </p>
        <span>1 month ago</span>
      </div>
      <div class="carousel-review">
        <h2>Fiona Mercer</h2>
        <p>
          I go to Aurora for a monthly swedish massage with Melissa. Brilliant
          service, a lovely place to visit and Melissa is wonderful!
        </p>
        <span>2 months ago</span>
      </div>
      <div class="carousel-review">
        <h2>Livvie Sheryn</h2>
        <p>Such a personal experience - couldn't recommend more!</p>
        <span>3 weeks ago</span>
      </div>
    </ngx-glide>
  </div>
</div>

<!-- ngx-glide -->

<!-- <div class="max-width">
  <ngx-glide
    type="carousel"
    [autoplay]="3000"
    [perView]="3"
    [showBullets]="false"
  >
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
    <div style="height: 100px; background-color: green">0</div>
    <div style="height: 100px; background-color: blue">1</div>
    <div style="height: 100px; background-color: red">2</div>
  </ngx-glide>
</div> -->
