.main {
  height: 25vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 46px;
  color: #585657;
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.carousel-item {
  height: 300px;
  width: 300px;
  background-color: #fff;
  img {
    width: 100%;
    display: block;
    height: 100%;
  }
}

.home-sub {
  border-bottom: 2px solid #ffcd36;
  padding-bottom: 7px;
  width: 160px;
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 40px;
  &.long {
    width: 380px;
  }
}

.home-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
  background-color: #fff;
  .home-block-info {
    div {
      margin-bottom: 15px;
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
  a:hover {
    color: #efc136;
    text-decoration: underline;
  }
}

.carousel-wrapper {
  max-width: 730px;
  padding: 25px 30px;
  background-color: #fff;
}

.gallary-wrapper {
  padding: 0 20px;
  .gallary {
    background-color: #f3f3f3;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 650px;
    .main-img {
      height: 100%;
      width: 100%;
    }
  }
}

.gallary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  img:nth-child(1) {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    height: 270px;
    display: block;
  }
}

.review-wrapper {
  padding: 0 20px;
  .review-flex {
    display: flex;
  }
  .review {
    background-color: #fff;
    padding: 15px;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    p {
      margin-bottom: 15px;
    }
  }
  .review:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    top: -4px;
  }
}

@media only screen and (max-width: 1070px) {
  .gallary-wrapper {
    .gallary {
      grid-template-columns: 1fr;
    }
    .main-img {
      padding-bottom: 30px;
    }
  }

  .home-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 940px) {
  .main {
    height: 30vh;
  }
}

@media only screen and (max-width: 850px) {
  .home-wrapper {
    flex-direction: column;
  }
  .carousel-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  .review-wrapper .review-flex {
    display: flex;
    flex-direction: column;
  }

  .review-wrapper .review {
    margin: 0 0 25px 0;
  }
}

@media only screen and (max-width: 635px) {
  .gallary-grid {
    grid-template-columns: 1fr;
    img {
      margin-bottom: 30px;
    }
  }
}
