<!-- <div>
  <div class="banner salon"></div>
</div> -->

<div class="contact-us">
  <h1 class="animate__animated animate__fadeInUp">Contact Us</h1>
</div>

<div class="contact-container">
  <div>
    <div class="contact-details">
      <div class="contact-form">
        <form>
          <p>
            Feel free to contact us at any time. We will get back to you as soon
            as we can.
          </p>
          <input type="text" placeholder="Name" name="user_name" />
          <input type="text" placeholder="Subject" name="user_subject" />
          <input type="text" placeholder="Email" name="user_email" />
          <textarea name="message" placeholder="Message" rows="5"></textarea>
          <button>Submit</button>
        </form>
      </div>

      <div class="contact">
        <h2>Info</h2>
        <div class="contact-info">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              />
            </svg>
            <p>07507393637</p>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
              />
            </svg>
            <a href="mailto:Melissabland43@gmail.com"
              >Melissabland43@gmail.com</a
            >
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
              />
            </svg>
            <p>105 Whalley Road, Clitheroe, BB7 1HW</p>
          </div>
        </div>
        <div class="contact-links">
          <a
            href="https://www.instagram.com/aurorabeauty_clitheroe/?hl=en"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </a>
          <a
            href="https://www.facebook.com/Aurorabeautymelissa"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
              />
            </svg>
          </a>

          <a
            href="https://www.tiktok.com/@melissabland28?lang=en"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div>
      <h2 class="sub-title">Opening Times</h2>
    </div>

    <div class="hours-wrapper">
      <div class="template-hour">
        <div class="col-title"></div>
        <div class="col-access">Monday</div>
        <div class="col-access">Tuesday</div>
        <div class="col-access">Wednesday</div>
        <div class="col-access">Thursday</div>
        <div class="col-access">Friday</div>
        <div class="col-access">Saturday</div>
        <div class="col-access">Sunday</div>
      </div>
      <div class="template-hours-info">
        <div>Melissa</div>
        <div class="info">Closed</div>
        <div class="info">9:30 - 20:00</div>
        <div class="info">11:00 - 20:00</div>
        <div class="info">11:00 - 20:00</div>
        <div class="info">9:30 - 16:30</div>
        <div class="info">Closed</div>
        <div class="info">Closed</div>
      </div>

      <div class="template-hours-info">
        <div>Lauren</div>
        <div class="info">Closed</div>
        <div class="info">9:00 - 21:00</div>
        <div class="info">Closed</div>
        <div class="info">9:00 - 18:30</div>
        <div class="info">9:00 - 17:00</div>
        <div class="info">9:15 - 17:00</div>
        <div class="info">Closed</div>
      </div>

      <div class="template-hours-info">
        <div>Donna</div>
        <div class="info">Closed</div>
        <div class="info">13:00 - 21:00</div>
        <div class="info">Closed</div>
        <div class="info">Closed</div>
        <div class="info">Closed</div>
        <div class="info">Closed</div>
        <div class="info">Closed</div>
      </div>
    </div>

    <div class="hours-wrapper hours-wrapper-sm">
      <div class="template-hour template-hour-sm">
        <div class="col-title"></div>
        <div class="col-access"></div>
      </div>
      <div class="template-hours-info template-hours-info-sm">
        <div>Monday</div>
        <div class="info">Closed</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Tuesday</div>
        <div class="info">9:30am - 9pm</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Wednesday</div>
        <div class="info">11am - 8pm</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Thursday</div>
        <div class="info">9am - 8pm</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Friday</div>
        <div class="info">9am - 5pm</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Saturday</div>
        <div class="info">9:15am - 5pm</div>
      </div>

      <div class="template-hours-info template-hours-info-sm">
        <div>Sunday</div>
        <div class="info">Closed</div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="contact-map">
    <h2 class="sub-title">Where to find us</h2>
    <div>
      <google-map [center]="center" [options]="options" [zoom]="zoom">
        <map-marker
          [position]="markerPosition"
          [options]="markerOptions"
        ></map-marker>
      </google-map>
    </div>
  </div>
</div>
