.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 600px;
  .contact-container {
    margin: 0 20px;
  }
}

.contact-us {
  background-image: url("../../../assets/images/banners/banner2.jpg");
  color: #000;
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: #fff;
  padding-bottom: 20px;
  a {
    cursor: pointer;
  }
  img {
    max-width: 350px;
    display: block;
  }
  .contact-details {
    padding: 0 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    h2 {
      color: #585657;
    }
    p {
      padding: 5px 0;
    }
  }
  .contact-info {
    color: #585657;
    font-size: 1.1rem;
    padding-top: 30px;
    color: #585657;
    display: flex;
    text-align: end;
    div {
      p {
        margin-bottom: 3px;
        padding: 0;
      }
    }
  }
}

::ng-deep google-map {
  .map-container {
    width: 100% !important;
    height: 705px !important;
  }
}

.hours-wrapper {
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
}

.hours-wrapper-sm {
  display: none;
}

.template-hour {
  display: grid;
  grid-template-columns: 65px repeat(7, 1fr);
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .info {
    text-align: center;
    font-size: 1rem;
  }
  .col-access {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hours-info {
  display: grid;
  grid-template-columns: 65px repeat(7, 1fr);
  color: #333;
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hour-sm {
  grid-template-columns: 1fr 140px;
}

.template-hours-info-sm {
  grid-template-columns: 1fr 140px;
}

@media screen and (max-width: 1260px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  ::ng-deep google-map {
    .map-container {
      width: 100% !important;
      height: 400px !important;
    }
  }
}

@media screen and (max-width: 805px) {
  .contact {
    flex-direction: column;
    .contact-info {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media screen and (max-width: 600px) {
  .hours-wrapper {
    display: none;
  }
  .hours-wrapper-sm {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .contact {
    .contact-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
