.contact {
  display: flex;
  background-color: #fff;
  a {
    cursor: pointer;
  }
  img {
    max-width: 625px;
  }
  .contact-info {
    padding: 20px;
    color: #585657;
    font-size: 1.3rem;
  }
}

.hours-wrapper {
  margin-bottom: 60px;
}

.template-hour {
  display: grid;
  grid-template-columns: 1fr 115px 140px 140px 140px 135px 120px 115px;
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  font-size: 1.4rem;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .col-access {
    text-align: center;
  }
}

.template-hours-info {
  display: grid;
  grid-template-columns: 1fr 115px 140px 140px 140px 135px 120px 115px;
  color: #333;
  padding: 15px 20px;
  font-size: 1.2rem;
  background-color: #fff;
  .info {
    text-align: center;
  }
}

@media screen and (max-width: 1015px) {
  .hours-wrapper {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  // map2
}

@media screen and (max-width: 805px) {
  // map3
  .contact {
    flex-direction: column;
    align-items: center;
    .contact-info {
      display: flex;
    }
    img {
      width: 100%;
      height: 100%;
      min-height: 250px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
