.contact-us {
  background-image: url("../../../assets/images/banners/banner2.jpg");
  color: #000;
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: center;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-details {
  padding: 0 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  div:nth-child(2) {
    display: flex;
  }
}

.contact {
  background-color: #585657;
  padding: 50px 60px 50px 35px;
  margin: 50px 0;
  margin-right: -150px;
  position: relative;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contact-info {
    color: #eee;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 20px;
    }
    div {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      font-size: 1rem;
      svg {
        fill: #eee;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        display: block;
      }
    }
  }
  .contact-links {
    svg {
      fill: #eee;
      width: 30px;
      height: 30px;
      display: block;
    }
    .icon {
      color: #eee;
    }
  }
}

.contact-form {
  margin: 35px 0 40px;
  form {
    margin: 20px 40px 0 0;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 5px;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    input {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #000;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
    }
    textarea {
      width: 100%;
      margin: 10px 0px;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 5px;
      resize: none;
    }
    button {
      border: none;
      padding: 15px 20px;
      background-color: #ffcd36;
      border-radius: 6px;
      color: #585657;
      font-weight: bolder;
      cursor: pointer;
      width: fit-content;
    }
  }
}

.bg-yellow {
  background-color: #ffcd36;
  width: 150px;
}

.hours-wrapper {
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  margin-bottom: 30px;
}

.hours-wrapper-sm {
  display: none;
}

.template-hour {
  display: grid;
  grid-template-columns: 1fr repeat(7, 130px);
  padding: 15px 0px 15px 20px;
  background: #ffcd36;
  color: #000;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .info {
    text-align: center;
    font-size: 1rem;
  }
  .col-access {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hours-info {
  display: grid;
  grid-template-columns: 1fr repeat(7, 130px);
  color: #333;
  padding: 15px 0px 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    text-align: center;
    font-size: 1rem;
  }
}

.template-hour-sm {
  grid-template-columns: 1fr 140px;
}

.template-hours-info-sm {
  grid-template-columns: 1fr 140px;
}

::ng-deep google-map {
  .map-container {
    width: 100% !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 1005px) {
  .template-hour {
    grid-template-columns: 1fr repeat(7, 110px);
  }

  .template-hours-info {
    grid-template-columns: 1fr repeat(7, 110px);
  }
}

@media screen and (max-width: 885px) {
  .hours-wrapper {
    display: none;
  }
  .hours-wrapper-sm {
    display: block;
  }
  .template-hours-info {
    padding: 15px 20px;
    grid-template-columns: 1fr 110px;
  }
}

@media screen and (max-width: 480px) {
  .contact-details {
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0px 20px;
  }
  .contact-form form {
    margin: 20px 00px 0 0;
  }
}
