<!-- <div>
  <div class="banner salon"></div>
</div> -->

<div class="contact-us">
  <h1>Contact Us</h1>
</div>

<div class="contact-wrapper">
  <div class="contact-container">
    <h2 class="sub-title animate__animated animate__fadeInUp">
      Where to find us
    </h2>

    <div class="contact">
      <div class="contact-details">
        <div>
          <div>
            <h2>Aurora Beauty</h2>
            <p>Call: 07507393637</p>
            <a href="mailto:Melissabland43@gmail.com"
              >Email: Melissabland43@gmail.com</a
            >
          </div>
          <div class="contact-links">
            <a
              href="https://www.instagram.com/aurorabeauty_clitheroe/?hl=en"
              target="_blank"
              ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
            ></a>
            <a
              href="https://www.facebook.com/Aurorabeautymelissa"
              target="_blank"
              ><fa-icon class="icon fb" [icon]="faFacebook"></fa-icon
            ></a>
            <a
              href="https://www.tiktok.com/@melissabland28?lang=en"
              target="_blank"
            >
              <fa-icon class="icon" [icon]="faTiktok"></fa-icon>
            </a>
          </div>
        </div>
        <div class="contact-info">
          <div>
            <p>105 Whalley Road</p>
            <p>Clitheroe</p>
            <p>Lancashire</p>
            <p>BB7 1HW</p>
            <p>United Kingdom</p>
          </div>
        </div>
      </div>

      <div>
        <h2 class="sub-title">Opening Times</h2>
      </div>

      <div class="hours-wrapper">
        <div class="template-hour">
          <div class="col-title"></div>
          <div class="col-access">Monday</div>
          <div class="col-access">Tuesday</div>
          <div class="col-access">Wednesday</div>
          <div class="col-access">Thursday</div>
          <div class="col-access">Friday</div>
          <div class="col-access">Saturday</div>
          <div class="col-access">Sunday</div>
        </div>
        <div class="template-hours-info">
          <div>Melissa</div>
          <div class="info">Closed</div>
          <div class="info">9:30 - 20:00</div>
          <div class="info">11:00 - 20:00</div>
          <div class="info">11:00 - 20:00</div>
          <div class="info">9:30 - 16:30</div>
          <div class="info">Closed</div>
          <div class="info">Closed</div>
        </div>

        <div class="template-hours-info">
          <div>Lauren</div>
          <div class="info">Closed</div>
          <div class="info">9:00 - 21:00</div>
          <div class="info">Closed</div>
          <div class="info">9:00 - 18:30</div>
          <div class="info">9:00 - 17:00</div>
          <div class="info">9:15 - 17:00</div>
          <div class="info">Closed</div>
        </div>

        <div class="template-hours-info">
          <div>Donna</div>
          <div class="info">Closed</div>
          <div class="info">13:00 - 21:00</div>
          <div class="info">Closed</div>
          <div class="info">Closed</div>
          <div class="info">Closed</div>
          <div class="info">Closed</div>
          <div class="info">Closed</div>
        </div>
      </div>

      <div class="hours-wrapper hours-wrapper-sm">
        <div class="template-hour template-hour-sm">
          <div class="col-title"></div>
          <div class="col-access"></div>
        </div>
        <div class="template-hours-info template-hours-info-sm">
          <div>Monday</div>
          <div class="info">Closed</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Tuesday</div>
          <div class="info">9:30am - 9pm</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Wednesday</div>
          <div class="info">11am - 8pm</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Thursday</div>
          <div class="info">9am - 8pm</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Friday</div>
          <div class="info">9am - 5pm</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Saturday</div>
          <div class="info">9:15am - 5pm</div>
        </div>

        <div class="template-hours-info template-hours-info-sm">
          <div>Sunday</div>
          <div class="info">Closed</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="contact-map">
      <div>
        <google-map [center]="center" [options]="options" [zoom]="zoom">
          <map-marker
            [position]="markerPosition"
            [options]="markerOptions"
          ></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>

<!-- <a
        target="_blank"
        href="https://www.google.com/maps/place/105%20Whalley%20Road%20%2C%20Clitheroe%2C%20Lancashire%2C%20BB7%201HW%2C%20United%20Kingdom"
        ><img src="../../../assets/images/about/door.jpeg" alt="" />
      </a> -->
