<nav>
  <div>
    <img
      class="logo"
      src="assets/images/shared/logo6.png"
      alt="aurora beauty logo"
    />
  </div>
  <div class="hamburger" [ngClass]="active ? 'toggle' : ''" (click)="burger()">
    <div class="bars1"></div>
    <div class="bars2"></div>
    <div class="bars3"></div>
  </div>
  <ul class="nav-links" [ngClass]="active ? 'open' : ''">
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/home" (click)="setNav()">Home</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/about" (click)="setNav()">About Us</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/treatments" (click)="setNav()">Treatments</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/decleor" (click)="setNav()">Products</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''" [routerLinkActive]="['is-active']">
      <a routerLink="/contact" (click)="setNav()">Contact</a>
    </li>
    <li [ngClass]="active ? 'fade' : ''">
      <a
        class="contact-button"
        href="https://aurorabeautyclitheroe.book.app/book-now"
        target="_blank"
        >Book now</a
      >
    </li>
  </ul>
</nav>
