<footer>
  <div class="footerLogo">
    <img src="assets/images/shared/Logo.png" alt="logo" />
  </div>
  <span class="line"></span>
  <div class="footerPages">
    <ul>
      <li>
        <div routerLink="/home" [routerLinkActive]="'is-active'">
          Home &nbsp; | &nbsp;
        </div>
      </li>
      <li>
        <div routerLink="/about" [routerLinkActive]="'is-active'">
          About Us &nbsp; | &nbsp;
        </div>
      </li>
      <li>
        <div routerLink="/treatments" [routerLinkActive]="'is-active'">
          Treatments &nbsp; | &nbsp;
        </div>
      </li>
      <li>
        <div routerLink="/decleor" [routerLinkActive]="'is-active'">
          DECLÉOR &nbsp; | &nbsp;
        </div>
      </li>
      <li>
        <div class="contact" [routerLinkActive]="'is-active'">
          Contact &nbsp; | &nbsp;
        </div>
      </li>
    </ul>
  </div>
</footer>
