<footer>
  <!-- <div class="footer-logo">
    <img src="assets/images/shared/Logo2.png" alt="logo" />
  </div> -->

  <div class="footer-details">
    <div class="footer-flex">
      <div class="footer-logo">
        <img src="assets/images/shared/Logo2.png" alt="logo" />
        <p>Call: 07507393637</p>
        <a href="mailto:Melissabland43@gmail.com"
          >Email: Melissabland43@gmail.com</a
        >
      </div>
      <div class="footer-links">
        <a
          href="https://www.instagram.com/aurorabeauty_clitheroe/?hl=en"
          target="_blank"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a href="https://www.facebook.com/Aurorabeautymelissa" target="_blank"
          ><fa-icon class="icon fb" [icon]="faFacebook"></fa-icon
        ></a>
        <a
          href="https://www.tiktok.com/@melissabland28?lang=en"
          target="_blank"
        >
          <fa-icon class="icon" [icon]="faTiktok"></fa-icon>
        </a>
      </div>
    </div>

    <div class="footerPages">
      <ul>
        <li>
          <div routerLink="/home">Home</div>
        </li>
        <li>
          <div routerLink="/about">About Us</div>
        </li>
        <li>
          <div routerLink="/treatments">Treatments</div>
        </li>
        <li>
          <div routerLink="/decleor">DECLÉOR</div>
        </li>
        <li>
          <div routerLink="/contact">Contact</div>
        </li>
        <li>
          <div>Book Now</div>
        </li>
      </ul>
      <div class="contact-info">
        <div>
          <p>105 Whalley Road</p>
          <p>Clitheroe</p>
          <p>Lancashire</p>
          <p>BB7 1HW</p>
          <p>United Kingdom</p>
        </div>
      </div>
    </div>
  </div>
</footer>
