//footer
footer {
  background-color: #585657;
  color: #000;
  border-top: 1.5px solid #000;
  padding: 25px 0 35px 0;
}

.footer-logo {
  p {
    padding: 10px 0;
  }
}

.footerPages {
  padding: 40px 20px 10px;
  color: #eee;
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  li {
    cursor: pointer;
    padding-left: 20px;
    &:hover {
      color: #ffcd36;
    }
  }
  span:nth-child(1) {
    margin: 0 15px;
    &:hover {
      color: #ffcd36;
    }
  }
}

.footer-details {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  h2 {
    color: #585657;
  }
  p {
    padding-top: 10px;
  }
  a {
    padding-top: 10px;
  }
  .footer-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    align-items: center;
    a {
      margin-right: 20px;
      svg {
        fill: #fff;
        height: 30px;
        width: 30px;
      }
    }
  }
}

.contact-info {
  text-align: end;
  padding-top: 21px;
}

@media only screen and (max-width: 764px) {
  footer {
    padding: 25px 0 15px 0;
  }

  .footerPages {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin-bottom: 5px;
      }
      span:nth-child(2) {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .footerPages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 10px;
    ul {
      align-items: baseline;
    }
    li {
      padding: 0;
    }
  }

  .footer-details {
    a {
      padding: 10px 0;
    }
    .footer-flex {
      align-items: center;
    }
  }

  .footer-details {
    flex-direction: column;
    text-align: center;
    .contact-info {
      text-align: end;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: end;
      p {
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }
}
