<footer>
  <div class="footerLogo">
    <img src="assets/images/shared/Logo.png" alt="logo" />
  </div>
  <span class="line"></span>
  <div class="footerPages">
    <ul>
      <li>
        <div routerLink="/home" [routerLinkActive]="'is-active'">
          <span>Home </span><span>|</span>
        </div>
      </li>
      <li>
        <div routerLink="/about" [routerLinkActive]="'is-active'">
          <span>About Us </span><span>|</span>
        </div>
      </li>
      <li>
        <div routerLink="/treatments" [routerLinkActive]="'is-active'">
          <span>Treatments </span> <span>|</span>
        </div>
      </li>
      <li>
        <div routerLink="/decleor" [routerLinkActive]="'is-active'">
          <span>DECLÉOR </span> <span>|</span>
        </div>
      </li>
      <li>
        <div routerLink="/contact" [routerLinkActive]="'is-active'">
          <span>Contact </span><span>|</span>
        </div>
      </li>
      <li>
        <div [routerLinkActive]="'is-active'">
          <span>Book Now </span>
        </div>
      </li>
    </ul>
  </div>
</footer>
