<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Nails">
    <div class="gallary-wrapper">
      <div class="gallary">
        <div class="tab-image main-img"></div>
        <div class="gallary-grid">
          <div>
            <div class="tab-image nail1"></div>
            <div class="tab-image nail2"></div>
          </div>
          <div>
            <div class="tab-image nail3"></div>
            <div class="tab-image nail4"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Facial">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../../assets/images/treatments/facial/facial1.jpeg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../../assets/images/treatments/facial/facial2.jpeg"
              alt=""
            />
            <img
              src="../../../../assets/images/treatments/facial/facial3.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../../assets/images/treatments/facial/facial4.jpeg"
              alt=""
            />
            <img
              src="../../../../assets/images/treatments/facial/facial1.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Lashes">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../../assets/images/treatments/lashes/lashes1.jpeg"
              alt=""
            />
            <img
              src="../../../../assets/images/treatments/lashes/lashes2.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../../assets/images/treatments/lashes/lashes3.jpeg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
