<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Massage">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../assets/images/treatments/massage/161688693_830509204205014_1509479957631720048_n.jpg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../assets/images/treatments/massage/161688693_830509204205014_1509479957631720048_n.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/massage/161688693_830509204205014_1509479957631720048_n.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../assets/images/treatments/massage/161688693_830509204205014_1509479957631720048_n.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/massage/161688693_830509204205014_1509479957631720048_n.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Facial">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../assets/images/treatments/nails/nail1.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/nails/nail5.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../assets/images/treatments/nails/nail5.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/nails/nail1.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Lashes & Brows">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/lashes/51089173_151828859069429_7859815403895209471_n.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Hands & Feet">
    <div class="gallary-wrapper">
      <div class="gallary">
        <img
          class="main-img"
          src="../../../assets/images/treatments/nails/nail1.jpg"
          alt=""
        />
        <div class="gallary-grid">
          <div>
            <img
              src="../../../assets/images/treatments/nails/nail1.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/nails/nail5.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              src="../../../assets/images/treatments/nails/nail5.jpg"
              alt=""
            />
            <img
              src="../../../assets/images/treatments/nails/nail1.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
