/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/shared.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background-color: #f3f3f3;
}

body {
  padding-top: 105px;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
