/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/shared.scss";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "~@glidejs/glide/src/assets/sass/glide.theme";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

html,
body {
  font-family: "Manrope", sans-serif;
  // background-color: #f3f3f3;
}

body {
  padding-top: 105px;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.glide__arrow--left {
  left: -2em;
}

.glide__arrow--right {
  right: -2em;
}

.glide__arrow {
  color: #000 !important;
  background-color: #ffcd36 !important;
  border: 2px solid #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
