.max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.medium-width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  position: absolute;
  top: -27%;
}

.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.text {
  text-align: center;
  margin: 40px 0 30px;
  h1 {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffcd36;
    padding-bottom: 7px;
  }
  div {
    color: #585657;
    margin-bottom: 17px;
    line-height: 1.3;
    font-size: 1rem;
  }
}

.sub-title {
  border-bottom: 2px solid #ffcd36;
  padding: 30px 0 4px;
  width: 260px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
}

.relative {
  position: relative;
}

.padding-top {
  padding-top: 0px;
}

.contact-links {
  display: flex;
  align-items: center;
  padding-top: 30px;
  a {
    margin-right: 20px;
  }
}

.btn {
  background-color: #ffcd36;
  color: #000;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ffcd36;
  transition: 0.5s ease;
  span {
    margin: 0 20px 0 10px;
  }

  svg {
    display: block;
    width: 20px !important;
    height: 20px !important;
  }

  &:hover {
    background-color: #585657;
    border: 1px solid #585657;
    color: #eee;
    svg {
      fill: #fff;
      transition: 0.5s ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .text {
    margin: 30px 0 10px !important;
  }
  .sub-title {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 426px) {
  .text h1 {
    font-size: 1.5rem;
  }
}
