<div class="containImg div_block-1">
  <img src="assets/images/banners/banner7.jpg" alt="" />
  <div class="absolute_panel panel1">
    <img src="assets/images/about/decleor_product20.png" alt="" />
  </div>

  <div class="absolute_panel panel2">
    <img src="assets/images/about/decleor_product2sm.png" alt="" />
  </div>

  <div class="absolute_panel panel3">
    <img src="assets/images/about/decleor_product1sm.png" alt="" />
  </div>
</div>

<div class="flex flex_col text">
  <div>
    Since 1974 we have listened to our experts when designing and creating our
    skincare. Decléor sits on a rich professional heritage focused on the power
    of using facial and body treatments to maximise your skincare.
  </div>
  <div>
    This has influenced and shaped our ethos and products up until today and
    will continue to be an irreplaceable and unique piece of Decléor.
  </div>
  <div>
    Our therapists and education team are at the heart of our mission to provide
    you with natural but powerful skincare along with our professional expertise
    to ensure you can truly achieve your ideal skin goals.
  </div>
</div>

<section class="comparisonSection">
  <div class="comparisonImage beforeImage">
    <img src="assets/images/treatments/lashes/before.png" alt="before" />
  </div>
  <div class="comparisonImage afterImage">
    <img src="assets/images/treatments/lashes/after.png" alt="after" />
  </div>
</section>

<div class="containImg help">
  <img src="assets/images/banners/banner2.jpg" alt="" />
</div>

<div class="flex" style="background: #000">
  <video width="100%" height="930" autoplay>
    <source
      src="assets/images/treatments/massage/test/test.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
