.div_block-1 {
  position: relative;
}

.template-wrapper {
  background-color: #fff;
  margin-bottom: 50px;
}

.template-header {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px;
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  font-size: 1.5rem;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .col-access {
    text-align: center;
  }
}

.pink {
  background-color: #e0bdb9;
}

.template-info {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px;
  color: #333;
  padding: 15px 20px;
  font-size: 1.3rem;
  .info {
    text-align: center;
  }
}
