.div_block-1 {
  position: relative;
}

.template-header {
  display: grid;
  grid-template-columns: 1fr 180px 180px 180px;
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  font-size: 1.5rem;
  margin-top: 40px;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .col-access {
    text-align: center;
  }
  .col-id {
    text-align: center;
  }
}
