<div class="containImg div_block-1">
  <img src="../../../assets/images/banners/banner7.jpg" alt="" />
</div>

<div class="flex flex_col text">
  <div>
    Since 1974 we have listened to our experts when designing and creating our
    skincare. Decléor sits on a rich professional heritage focused on the power
    of using facial and body treatments to maximise your skincare.
  </div>
  <div>
    This has influenced and shaped our ethos and products up until today and
    will continue to be an irreplaceable and unique piece of Decléor.
  </div>
  <div>
    Our therapists and education team are at the heart of our mission to provide
    you with natural but powerful skincare along with our professional expertise
    to ensure you can truly achieve your ideal skin goals.
  </div>
</div>

<div class="containImg help">
  <img src="../../../assets/images/banners/banner2.jpg" alt="" />
</div>

<div class="max-width relative">
  <div class="template-header">
    <div class="col-title">Title</div>
    <div class="col-access">Access Level</div>
    <div class="col-id">Vacancy Count</div>
    <div class="col-id">Template Id</div>
  </div>

  <div class="treatment-list">
    <div style="height: 100vh"></div>
  </div>
</div>
