<div class="containImg div_block-1">
  <img src="../../../assets/images/banners/banner7.jpg" alt="" />
</div>

<div style="position: relative">
  <div class="sub-menu">
    <button href="">Hands & Feet</button>
    <button href="">Lashes & Brows</button>
    <button href="">Waxing</button>
    <button href="">Massage</button>
    <button href="">Facials</button>
  </div>
</div>

<div class="flex flex_col text">
  <div>
    Since 1974 we have listened to our experts when designing and creating our
    skincare. Decléor sits on a rich professional heritage focused on the power
    of using facial and body treatments to maximise your skincare.
  </div>
  <div>
    This has influenced and shaped our ethos and products up until today and
    will continue to be an irreplaceable and unique piece of Decléor.
  </div>
  <div>
    Our therapists and education team are at the heart of our mission to provide
    you with natural but powerful skincare along with our professional expertise
    to ensure you can truly achieve your ideal skin goals.
  </div>
</div>

<div class="max-width">
  <div class="padding-top">
    <h2 class="sub-title">Beauty Treatment Menu</h2>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header">
      <div class="col-title">Hands & Feet</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>

    <div class="template-info">
      <div>Manicure - 45min</div>
      <div class="info">£10</div>
      <div class="info">£18</div>
      <div class="info">£18</div>
    </div>
    <div class="template-info">
      <div>Pedicure - 45min</div>
      <div class="info">£15</div>
      <div class="info">£22</div>
      <div class="info">£22</div>
    </div>
    <div class="template-info">
      <div>Gel Polish - 45min</div>
      <div class="info">n/a</div>
      <div class="info">£25</div>
      <div class="info">£25</div>
    </div>
    <div class="template-info">
      <div>Gel Polish removal & reapplication - 60min</div>
      <div class="info">£15.50</div>
      <div class="info">£28</div>
      <div class="info">£28</div>
    </div>
    <div class="template-info">
      <div>Gel Polish removal - 15min</div>
      <div class="info">£3.50</div>
      <div class="info">£10</div>
      <div class="info">£10</div>
    </div>
    <div class="template-info">
      <div>Gel Polish with manicure - 60min</div>
      <div class="info">£15</div>
      <div class="info">£28</div>
      <div class="info">£28</div>
    </div>
    <div class="template-info">
      <div>Gel Polish with pedicure - 60min</div>
      <div class="info">£20</div>
      <div class="info">£32</div>
      <div class="info">£232</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header pink">
      <div class="col-title">Lashes & Brows</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>

    <div class="template-info">
      <div>Eyebrow Shape</div>
      <div class="info">£5</div>
      <div class="info">£7.50</div>
      <div class="info">£7.50</div>
    </div>
    <div class="template-info">
      <div>Eyebrow Tint</div>
      <div class="info">£5</div>
      <div class="info">£7.50</div>
      <div class="info">£7.50</div>
    </div>
    <div class="template-info">
      <div>Eyebrow shape & tint</div>
      <div class="info">£9.50</div>
      <div class="info">£14</div>
      <div class="info">£14</div>
    </div>
    <div class="template-info">
      <div>Eyelash tint</div>
      <div class="info">£10</div>
      <div class="info">£12.50</div>
      <div class="info">£12.50</div>
    </div>
    <div class="template-info">
      <div>Eyelash tint, Eyebrow shape & tint</div>
      <div class="info">£18</div>
      <div class="info">£25</div>
      <div class="info">£25</div>
    </div>
    <div class="template-info">
      <div>Lash lift & tint</div>
      <div class="info">£18</div>
      <div class="info">£33</div>
      <div class="info">£33</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header">
      <div class="col-title">Waxing</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Lip</div>
      <div class="info">£5</div>
      <div class="info">£6.50</div>
      <div class="info">£6.50</div>
    </div>
    <div class="template-info">
      <div>Chin</div>
      <div class="info">£5</div>
      <div class="info">£6.50</div>
      <div class="info">£6.50</div>
    </div>
    <div class="template-info">
      <div>Lip & Chin</div>
      <div class="info">£9.50</div>
      <div class="info">£12</div>
      <div class="info">£12</div>
    </div>
    <div class="template-info">
      <div>Underarm</div>
      <div class="info">£5</div>
      <div class="info">£8.50</div>
      <div class="info">£8.50</div>
    </div>
    <div class="template-info">
      <div>Bikini</div>
      <div class="info">£8</div>
      <div class="info">£8.50</div>
      <div class="info">£8.50</div>
    </div>
    <div class="template-info">
      <div>Half leg</div>
      <div class="info">£10</div>
      <div class="info">£16.50</div>
      <div class="info">£16.50</div>
    </div>
    <div class="template-info">
      <div>Full leg</div>
      <div class="info">£18</div>
      <div class="info">£22</div>
      <div class="info">£22</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header pink">
      <div class="col-title">Swedish Massage</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Back - 30min</div>
      <div class="info">£15</div>
      <div class="info">n/a</div>
      <div class="info">n/a</div>
    </div>
    <div class="template-info">
      <div>Back, neck & shoulder - 30min</div>
      <div class="info">n/a</div>
      <div class="info">£20</div>
      <div class="info">£20</div>
    </div>
    <div class="template-info">
      <div>Full body - 60min</div>
      <div class="info">£22</div>
      <div class="info">£35</div>
      <div class="info">£35</div>
    </div>
    <div class="template-info">
      <div>Full body inc face & scalp - 75min</div>
      <div class="info">£27</div>
      <div class="info">£45</div>
      <div class="info">£45</div>
    </div>
    <div class="template-info">
      <div>Auroras retreat (back, face & scalp) - 45min</div>
      <div class="info">£20</div>
      <div class="info">£28</div>
      <div class="info">£28</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header">
      <div class="col-title">Botanicals Bespoke Massage</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Back, neck & shoulder - 25min</div>
      <div class="info">n/a</div>
      <div class="info">£28</div>
      <div class="info">£28</div>
    </div>
    <div class="template-info">
      <div>Full body - 55min</div>
      <div class="info">n/a</div>
      <div class="info">£45</div>
      <div class="info">£45</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header pink">
      <div class="col-title">Pregnant Massage</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Back, neck & shoulder - 30min</div>
      <div class="info">n/a</div>
      <div class="info">£24</div>
      <div class="info">£24</div>
    </div>
    <div class="template-info">
      <div>Full body - 60min</div>
      <div class="info">n/a</div>
      <div class="info">£39</div>
      <div class="info">£39</div>
    </div>
    <div class="template-spacing sm"></div>
  </div>

  <div class="max-width book-now">
    <a href="https://aurorabeautyclitheroe.book.app/">Click here to Book Now</a>
  </div>

  <div class="max-width padding-top">
    <h2 class="sub-title">Decléor Facials</h2>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header">
      <div class="col-title">Ultimate Vitamin Glow</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Discovery Facial - 30min</div>
      <div class="info">£19</div>
      <div class="info">n/a</div>
      <div class="info">n/a</div>
    </div>
    <div class="template-info">
      <div>Vitamin Glow Facial - 30min</div>
      <div class="info">£25</div>
      <div class="info">£30</div>
      <div class="info">£30</div>
    </div>
    <div class="template-info">
      <div>Vitamin Glow Facial - 60min</div>
      <div class="info">£25</div>
      <div class="info">£40</div>
      <div class="info">£40</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header pink">
      <div class="col-title">Advanced Anti-Ageing</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Smooth & Glow - 1hour 15min</div>
      <div class="info">n/a</div>
      <div class="info">£50</div>
      <div class="info">£50</div>
    </div>
    <div class="template-info">
      <div>Plump & Lift - 1hour 15min</div>
      <div class="info">n/a</div>
      <div class="info">£55</div>
      <div class="info">£55</div>
    </div>
    <div class="template-info">
      <div>Sculpt & Rejuvenate - 1hour 15min</div>
      <div class="info">n/a</div>
      <div class="info">£55</div>
      <div class="info">£55</div>
    </div>
    <div class="template-spacing"></div>
  </div>

  <div class="max-width relative template-wrapper">
    <div class="template-header">
      <div class="col-title">Face (E.O) Lift</div>
      <div class="col-access">Alice</div>
      <div class="col-access">Lauren</div>
      <div class="col-access">Melissa</div>
    </div>
    <div class="template-info">
      <div>Signature workout - 45min</div>
      <div class="info">n/a</div>
      <div class="info">£55</div>
      <div class="info">£55</div>
    </div>
    <div class="template-info">
      <div>Exper Workout - 1hour</div>
      <div class="info">n/a</div>
      <div class="info">£45</div>
      <div class="info">£45</div>
    </div>
    <div class="template-spacing sm"></div>
  </div>

  <div class="max-width book-now">
    <a href="https://aurorabeautyclitheroe.book.app/">Click here to Book Now</a>
  </div>
</div>

<div class="containImg">
  <img src="../../../assets/images/banners/banner2.jpg" alt="" />
</div>
