.div_block-1 {
  position: relative;
}

.template-wrapper {
  background-color: #fff;
}

.template-header {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px;
  padding: 15px 20px;
  background: #ffcd36;
  color: #000;
  font-size: 1.4rem;
  top: 105px;
  z-index: 3;
  position: sticky;
  border-radius: 4px;
  .col-access {
    text-align: center;
  }
}

.pink {
  background-color: #e0bdb9;
}

.template-info {
  display: grid;
  grid-template-columns: 1fr 160px 160px 160px;
  color: #333;
  padding: 15px 20px;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .info {
    text-align: center;
  }
}

.template-spacing {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 60px;
  &.sm {
    padding-top: 40px;
  }
}

.book-now {
  text-align: center;
  padding: 5px 30px;
  background-color: #585657;
  font-size: 1.3rem;
  margin-bottom: 50px;
  transition: 0.5s ease;
  cursor: pointer;
  color: #fff;
  width: fit-content;
  border-radius: 5px;
}

.book-now:hover {
  background-color: #ffcd36;
  color: #000;
}

.sub-menu {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0px -5px 25px #00000029;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(100%);
  opacity: 0;
  background-color: #fff;
  visibility: hidden;
  button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.2rem;
    padding: 20px;
    cursor: pointer;
    &:hover {
      background: #ffcd36;
    }
  }
  &.open {
    position: fixed;
    bottom: 0px;
    transition: transform 0.4s linear, opacity 0.4s linear;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@media screen and (max-width: 695px) {
  .template-header {
    grid-template-columns: 1fr 110px 110px 110px;
  }

  .template-info {
    grid-template-columns: 1fr 110px 110px 110px;
  }
}
