.about {
  background-image: url("../../../assets/images/banners/banner2.jpg");
}

.test {
  position: absolute;
  top: 200px;
  right: 282px;
}

.test1 {
  top: 200px;
  right: 200px;
}

.test2 {
  top: 100px;
  right: 340px;
}

.test3 {
  top: 200px;
  left: 282px;
}

///
.employee-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 60px;
}

.employee-img {
  padding: 20px;
  background-color: #e0bdb9;
  height: fit-content;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover .overlay {
    opacity: 0.65;
  }
  img {
    width: 230px;
    height: 340px;
    display: block;
    transition: 0.3s ease-in-out;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.4rem;
  }
}

.employee-info {
  padding: 40px;
  text-align: center;
  font-size: 1.3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  h2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: #e0bdb9;
      top: 57%;
      left: 219px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: #e0bdb9;
      top: 57%;
      right: 219px;
    }
  }
}

@media screen and (max-width: 730px) {
  .employee-info {
    padding: 20px;
  }
}

@media screen and (max-width: 632px) {
  .employee-wrapper {
    align-items: center;
    flex-direction: column;
  }
}
