<div>
  <div class="banner about"></div>
</div>

<div class="max-width">
  <div class="flex flex_col text">
    <h1 class="animate__animated animate__fadeInUp">Meet the team</h1>
    <div>
      Since 1974 we have listened to our experts when designing and creating our
      skincare. Decléor sits on a rich professional heritage focused on the
      power of using facial and body treatments to maximise your skincare.
    </div>
    <div>
      This has influenced and shaped our ethos and products up until today and
      will continue to be an irreplaceable and unique piece of Decléor.
    </div>
    <div>
      Our therapists and education team are at the heart of our mission to
      provide you with natural but powerful skincare along with our professional
      expertise to ensure you can truly achieve your ideal skin goals.
    </div>
  </div>
</div>

<div class="medium-width">
  <div class="employee-wrapper fade-right">
    <div class="employee-img">
      <img src="../../../assets/images/about/melissa.png" alt="melissa" />
      <a
        class="overlay"
        target="_blank"
        href="https://aurorabeautyclitheroe.book.app/book-now"
      >
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2><span>Melissa</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="contact-links">
        <a
          href="https://www.instagram.com/aurorabeauty_clitheroe/?hl=en"
          target="_blank"
          ><fa-icon
            class="icon"
            aria-label="Instagram"
            [icon]="faInstagram"
          ></fa-icon
        ></a>
        <a href="https://www.facebook.com/Aurorabeautymelissa" target="_blank"
          ><fa-icon
            class="icon fb"
            aria-label="Facebook"
            [icon]="faFacebook"
          ></fa-icon
        ></a>
        <a
          href="https://www.tiktok.com/@melissabland28?lang=en"
          target="_blank"
        >
          <fa-icon class="icon" aria-label="Tiktok" [icon]="faTiktok"></fa-icon>
        </a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/book-now"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="employee-wrapper fade-right">
    <div class="employee-img">
      <img src="../../../assets/images/about/lauren.png" alt="lauren" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/book-now">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2><span>Lauren</span></h2>
        <p>
          Lauren qualified in makeup artistry and beauty therapy 10 years ago
          since then she has gained experience working on makeup counters, spa
          and salons before opening her business and going self employed at
          Aurora Beauty during the pandemic in December 2020.
        </p>
        <p>
          Her favourite part of her job is making clients feel good about
          themselves. Whether that is in the salon with treatments or outside of
          the salon she enjoys the opportunity to be part of a brides special
          day, often going out mobile to the wedding venue and getting the
          bridal party ready doing all their makeup the morning of their big
          day.
        </p>
        <p>
          Lauren specialises in bridal makeup and is a stockist of Jane Iredale
          - the skincare makeup a cruelty free, clean mineral brand that is
          ideal for all skin types. She offers free colour matches in salon and
          has the products in her makeup artist kit to use on all her clients.
        </p>
      </div>
      <div class="contact-links">
        <a
          href="https://www.instagram.com/laurenaurorabeauty/?hl=en"
          target="_blank"
          ><fa-icon
            class="icon"
            aria-label="Instagram"
            [icon]="faInstagram"
          ></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/book-now"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="employee-wrapper fade-right">
    <div class="employee-img">
      <img src="../../../assets/images/about/donna.png" alt="donna" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/book-now">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2><span>Donna</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="contact-links">
        <a href="https://www.instagram.com/d.j.bholisticbeauty/?hl=en"
          ><fa-icon
            class="icon"
            aria-label="Instagram"
            [icon]="faInstagram"
          ></fa-icon
        ></a>
        <a
          href="https://www.facebook.com/profile.php?id=100080413966412"
          target="_blank"
          ><fa-icon
            class="icon fb"
            aria-label="Facebook"
            [icon]="faFacebook"
          ></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/book-now"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="employee-wrapper">
    <div class="employee-img">
      <img src="../../../assets/images/about/Alice.png" alt="" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/book-now">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2><span>Toni</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="contact-links">
        <a
          href="https://www.instagram.com/alice_aurorabeauty/?hl=en"
          target="_blank"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/book-now"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div> -->
</div>
