<div class="containImg">
  <img src="../../../assets/images/banners/banner2.jpg" alt="" />
</div>

<div class="flex flex_col text">
  <div>
    Since 1974 we have listened to our experts when designing and creating our
    skincare. Decléor sits on a rich professional heritage focused on the power
    of using facial and body treatments to maximise your skincare.
  </div>
  <div>
    This has influenced and shaped our ethos and products up until today and
    will continue to be an irreplaceable and unique piece of Decléor.
  </div>
  <div>
    Our therapists and education team are at the heart of our mission to provide
    you with natural but powerful skincare along with our professional expertise
    to ensure you can truly achieve your ideal skin goals.
  </div>
</div>

<div class="medium-width">
  <div class="employee-wrapper">
    <div class="employee-img">
      <img src="../../../assets/images/about/melissa.png" alt="" />
      <a
        class="overlay"
        target="_blank"
        href="https://aurorabeautyclitheroe.book.app/"
      >
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2>Melissa</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="about-links">
        <a
          href="https://www.instagram.com/aurorabeauty_clitheroe/?hl=en"
          target="_blank"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a href="https://www.facebook.com/Aurorabeautymelissa" target="_blank"
          ><fa-icon class="icon fb" [icon]="faFacebook"></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="employee-wrapper">
    <div class="employee-img">
      <img src="../../../assets/images/about/lauren.png" alt="" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2>Lauren</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="about-links">
        <a
          href="https://www.instagram.com/laurenaurorabeauty/?hl=en"
          target="_blank"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="employee-wrapper">
    <div class="employee-img">
      <img src="../../../assets/images/about/Alice.png" alt="" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2>Alice</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="about-links">
        <a
          href="https://www.instagram.com/alice_aurorabeauty/?hl=en"
          target="_blank"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="employee-wrapper">
    <div class="employee-img">
      <img src="../../../assets/images/about/donna.png" alt="" />
      <a class="overlay" href="https://aurorabeautyclitheroe.book.app/">
        <p>Book now</p>
      </a>
    </div>
    <div class="employee-info">
      <div>
        <h2>Donna</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          exercitationem suscipit velit consequatur corporis facere, voluptate,
          officia odit numquam rem reiciendis reprehenderit modi ipsum cumque.
          Cupiditate magni pariatur commodi dolorum?
        </p>
      </div>
      <div class="about-links">
        <a href="https://www.instagram.com/d.j.bholisticbeauty/?hl=en"
          ><fa-icon class="icon" [icon]="faInstagram"></fa-icon
        ></a>
        <a
          class="btn"
          target="_blank"
          href="https://aurorabeautyclitheroe.book.app/"
        >
          <p>Book Now</p>
          <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
